/* */

/*General styling */

html, body {
	min-width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	font-family: Verdana, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;

	height: 100%;
	margin: 0;
	background: url("img/forest_landscape.jpg") no-repeat;
	background-size: cover;
}

p {
	margin-left: 150px;
	margin-right: 150px;
	max-width: 500px;
	font-size: 16px;
}

h1 {
	text-align: center;
	margin-bottom: 35px;
}

h2 {
	margin-bottom: 50px;
}

#background {
	margin: 0;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	min-height: 100%;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 500px;
	width: 50%;
	min-height: 50vh;
	height: auto;
	margin: 0 0 20px 0;
	background-color: #907847;
	color: white;
	border-radius: 25px;
	padding-bottom: 25px;
}

#box {
	width: 500px;
	height: 2500px;
	background-color: black;
}

#img {
	display: block;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	margin: 0;
}

div {
	margin: 20px;
}

#logoHeader{
	width: 400px;
	height: 100px;
}

#frontpageLogo{
	display: block;
	margin: 30px 0 0 0;
}

#bigLogo {
	display: block;
	width: 450px;
	height: auto;
	margin: auto;
}

#smallLogo {
	display: block;
	width: 350px;
	height: auto;
	margin: auto;
}

#biographyPic {
	max-height: 200px;
	width: auto;
	box-shadow: 0 0 30px 5px black;
	margin-bottom: 10px;
}

/* Navigation bar */

nav {
	margin: 40px 0 40px 0;
	width: 50%;
	min-width: 500px;
}

#navbar {
	display: flex;
	justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: #4f361e;
	border-radius: 10px;
}

li {

    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#myDropdown {
	margin: 0;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: #890000;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #43664A;
	width: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #A3981A;
}

.show {
	display:block;
}

/* References */

.reference {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 70%;
	height: auto;

}

.reference-image {
	height: 150px;
	width: auto;
	padding: 0;
}

.reference-text {
	width: 100px;
}

.reference, .event {
	border: solid #4f361e 5px;
	box-shadow: 0 0 30px 5px black;
}

/* Events */
.events {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	min-width: 500px;
	width: 50%;
	min-height: 50vh;
	height: auto;
	margin: 0 0 20px 0;
	background-color: #907847;
	color: white;
	border-radius: 25px;
	padding-bottom: 25px;
}

.event {
	width: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
}

.event-text {
	min-width: 65%;
}

.event-image {
	min-width: 150px;
	width: 65%;
	min-height: 125px;
	height: 50%;
	border-radius: 50%;
	box-shadow: 0 0 30px 5px #000000;
	margin-bottom: 15px;
}

/* Gallery pages */

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 100%;

}

.gallery-img {
	min-width: 25%;
	max-width: 35%;
	height: auto;
	border: 3px solid transparent;
}


div.gallery-img:hover {
	border: 3px solid #777;
}

div.gallery-img img {
	width: 100%;
	max-height: 120px;
}

div.desc {
	text-align: center;
	font-size: 24px;
}

#sliderwrap {
	margin-top: 1.5%;
	position: relative;
	width: 100%;
	height: 32vh;
	z-index: -1;
}

.slidePics {
	width: auto;
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	left: -100%;
	z-index: -1;
}


.column {
	float: left;
	min-width: 25%;
	max-width: 35%;
}

.modal {
	margin: 0;
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
}

.close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}

.mySlides {
	display: none;
}

.cursor {
	cursor: pointer
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;

}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}


.caption-container {
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
}

.demo {
	opacity: 0.6;
}

.active, .demo:hover {
	opacity: 1;
}

img {
	width: 100%;
}

img.hover-shadow {
	transition: 0.3s;
	width: 100%;
	height: auto;
}

.hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}